/* CSS declarations go here */
body{
    background-color:rgb(241, 222, 208);
}
.side-nav{
    background-color:rgb(241, 222, 208);
}
#smallDate{
    font-size:0.5em;
    color:rgb(184, 215, 232);
}
.cssBlog{
    font-size:1em;
}
.card-deck{
    display:none;
}